

body{


  background-color: chocolate;
  color: white;
  
}

#product-list > li {
 float: right;
  width:200px; 
  height:50px; 
  
  padding-top:20px; 
  padding-left:15px; 
  padding-right:15px; 
  text-align: left;
  
  
}
img{
  border-radius: 40%;
 

  width: 180px
  
  
}

#product-love > li {
 bottom: 5%;

}


section {
  float: left;
  width:700px; 
  height:250px; 
  
  padding-top:20px; 
  padding-left:15px; 
  padding-right:15px;

}




h1 { 
  border-width: 5px;
  border: double black;
  text-align: center; 
} 

h2 {
  text-align: center;
}